@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');



body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    background-color: #100f0f;
}


.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    overflow: hidden;
}


.background {
    position: absolute;
    z-index: -1;
    width: 100%;;
    height: 100vh;
}

.background img {
    width: 100%;
    height: 100%;
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
   /* box-shadow: 0 2px 10px rgba(255, 255, 255,0.75);*/
    top: 0;
    background-color: transparent;
}


.logo {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.nav__right {
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    flex-basis: 50%;
    margin: auto;
}

.nav__right li {
    list-style: none;
}

.nav__right li a {
    color: #fff;
    text-decoration: none;
}



.hero__banner {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.hero__banner h1 {
    color: #fff;
}

.hero__banner p {
    color: #fff;
    text-align: center;
    width: 50%;
}

.hero__banner a {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.3rem;
    font-weight: 500;
    padding: 0.66rem;
    background: linear-gradient(to right, #63f587, #bd63f5, #8915b3) ;
    border-radius: 0.44rem 0.55rem 0.66rem 0.77rem;
    text-decoration: none;
    box-shadow: 0 3px 15px #63f587;
}