/* Fonts (Mulish and Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Normalize */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    resize: none;
}

*::selection {
    background-color: var(--gr-n);
    color: var(--wh-n);
}



/* Variables */

:root {

    /* Colors */

    --gr-n:#63f587;
    --vl-n:#8915b3;
    --vl-u:#ae00ff;
    --vl-d:#ae00ffa4;
    --wh-d:#e3e2e2;
    --wh-n:#ffffff;
    --bk-n:#000000;
    --bu-n:#00bbff95;

    /* Padding and margin */

    --pd-n: 0.66rem;
    --pd-b: .3rem;
    --mg-n: 1rem;
    --mg-l: 0 0.55rem;
    --mg-t:  3rem 0;
    --bd-n: 16px;
    --bd-d: 0.44rem 0.55rem 0.66rem 0.77rem;

    /* Font Size and weight */

    --h2-s: 2rem ;
    --h2-w: 900 ;
    --h3-s:  1.6rem;
    --h3-w:  700;
    --h4-s:  1.7rem;
    --h4-w:  600;
    --h5-s:  1.6rem;
    --h5-w:  600;
    --h6-s:  1.5rem;
    --h6-w:  500;

    --a-s:  1.3rem;
    --a-w:  500;

    --p-s:  1.4rem;
    --p-w:  600;

    --sp-s:  1.2rem;
    --sp-w:  400;

    /* Transitions and effects */

    --tr-n:.3s all ease;

}


/* Global Styles */

body {
    font-family: "Mulish", sans-serif;
    background-color: #06061b;

}


/* ----------- Header ----------- */



.header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: url(./img/background1.png)no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    box-shadow: 0 3px 15px #8915b3;
}


.nav {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: #100f0fec;
    position: fixed;
    z-index: 999;
}

.logo {
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    width: 225px;
    height: 45px;
}

.logo img {
    width: 225px;
    height: 45px;
    cursor: pointer;
}

.logo span {
    display: none ;
    cursor: pointer;
    font-size: 40px;
    font-weight: 700;
    color: var(--wh-d);
    user-select: none;
}


.nav--list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    flex-basis: 50%;
}

.nav--list li {
    margin: .33rem;
}


.nav--list li a {
    color: var(--wh-d);
    font-size: var(--a-s);
    font-weight: var(--a-w);
    transition: var(--tr-n);
}

.nav--list span {
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    color: var(--wh-d);
    display: none;
    user-select: none;
}


.hero--banner {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero--banner h1 {
    color: var(--wh-n);
    font-size: 2.2rem;
    font-weight: 1000;
    width: 65%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}


.hero--banner p {
    color: var(--wh-n);
    font-size: var(--p-s);
    font-weight: var(--p-w);
    width: 60%;
    text-align: center;
    margin: var(--mg-t);
}


.hero--link a{
    color: var(--wh-n);
    padding: var(--pd-n);
    font-size: var(--a-s);
    font-weight: var(--a-w);
    margin: var(--mg-n);
    background: linear-gradient(to right, #00bbff95, #8915b3);
    border-radius: var(--bd-d);
    box-shadow: 0 3px 15px #ae00ff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: var(--tr-n);
}








/* ----------- Cards Section ----------- */

.main--card--h2 {
    background: linear-gradient(#63f587, #8915b3);
    background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 900;
    text-transform: uppercase;
    margin:10vh 0 ;
    letter-spacing: 0.3rem;
    background-color: transparent;
}


.card--section {
    margin: 10vh 0;
    position: relative;
    background:  linear-gradient(#100f0f22, #100f0f22),url(./img/back2.png) no-repeat center/cover;
    background-attachment: fixed ;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}



/* Cards */

.grid--card--section {
    display: grid;
    grid-template-columns: 48% 2% 48%;
    gap: 1.5rem;
    overflow: hidden;
    padding: 2rem;
    height: 100%;
}


.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container--card {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    height: 100%;
}

.card--item {
    width: 280px;
    height: 320px;
    background-color: #100f0f40;
    cursor: pointer;
    box-shadow: 0 2px 7px #ae00ff;
    border-radius: 16px;
    display: grid;
    grid-template-rows:  .66fr  .33fr;
    text-align: center; 
    gap: 1rem;
    transition: var(--tr-n);
    object-fit: cover;
}

.card--item:nth-child(1){
    margin-top: 2.3rem;
}

.card--item img {
    object-fit: cover;
    width: calc(280px - 30%);
    height: calc(320px / 66%);
    margin: auto;
}

.card--item h3 {
    color: var(--wh-n);
    font-size: var(--h3-s);
    font-weight: var(--h3-w);
    text-transform: uppercase;
}







/* Divider */

.divide--cards img {
    height: calc(640px + 4.6rem);
}





/* Text Cards */


.text--cards {
    height: calc(640px + 4.6rem);
    width: 100%;
    margin: auto;
}


.text--cards p {
text-align: center;
font-size: 1.2rem;
font-weight: var(--p-w);
color: var(--wh-n);
margin: 3rem auto;
padding: 0.66rem;
width: 80%;
display: flex;
align-items: center;
background-color: #111c9576;
border-radius: var(--bd-n);
transition: var(--tr-n);
cursor: pointer;
box-shadow: 0 8px 40px #111c9576;
text-rendering:optimizeLegibility;
}

.text--cards p:nth-child(1), .text--cards p:nth-child(3) {
    margin-left: 1.5rem ;
}

.text--cards p:nth-child(2), .text--cards p:nth-child(4) {
    margin-right: 1.5rem;
}








/* ----------- Hover ----------- */


.nav--list li:hover {
    transform: translateY(-.5rem);
    transition: var(--tr-n);
}


.hero--link a:hover {
    box-shadow: 0 4px 20px #111c95d1;
    transition: var(--tr-n);
}



.card--item:hover {
    transform: scale(1.055);
    transition: var(--tr-n);
}

.text--cards p:hover {
    transform: scale(1.055);
    transition: var(--tr-n);
}





.mutual--credits {
    width: 100%;
    height: 100vh;
}


.mutual--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.mutual--frame {
    margin: auto;
}


.cards--mutual {
    margin: auto;
    color: var(--wh-n);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}









/* ----------- Responsive Designe (1250px) ----------- */


@media screen and (max-width:1250px) {
    
        /* Cards Section*/

        .card--section {
            background-position: center;
            overflow: hidden;
        }

        .grid--card--section {
            display: flex;
            flex-direction: column;
            
        }

        .cards {
            width: 75%;
            margin: auto;
        }

        .divide--cards  {
            transform: rotate(90deg);
            width: 5px;
            height: 100%;
            margin: 0 auto;
        }

        .text--cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 92%;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .text--cards p {
            margin:  2rem auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .text--cards p:nth-child(1), .text--cards p:nth-child(3)  {
            margin: 2rem auto;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
        } 

        .text--cards p:nth-child(2), .text--cards p:nth-child(4) {
            margin: 2rem auto;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

}



/* ----------- Responsive Designe  (700px) ----------- */



@media screen and (max-width:700px) {


    .header {
        background-position: center;

    }


    .nav--list {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 3px 100vmin rgba(0, 0, 0, .5);
        justify-content: space-evenly;
        width: 200px;
        background-color: #100f0f;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s all ease;
        z-index: 999;
    }

    .logo span {
        display: block;
        transition: 0.5s all ease;
        margin-right: 0.5rem;
    }

    .nav--list span {
        display: block;
        position: absolute;
        top: 3rem;
        right: 1.5rem;
    }

    .hero--banner {
        height: 750px;
    }

    .hero--banner h1 {
        font-size: 2rem;
        font-weight: 800;
        width: 90%;
    }

    .hero--banner p {
        font-size: 1.3rem;
        font-weight: 600;
        width: 90%;
    }


    .container--card {
        flex-direction: column;
        height: 100%;
    }

    .card--item {
        width: 90%;
        height: 90%;
    }

    .card--item img {
        width: 100%;
    }

    .card--item h3 {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .text--cards {
        height: 100%;
    }





    .show {
        opacity: 1;
        visibility: visible;
        transition: 0.5s all ease;
    }

    .hidden {
        opacity: 0;
        visibility: hidden;
        transition: 0.5s all ease;
    }
}



/* ----------- Responsive Designe  (500px) ----------- */


@media screen and (max-width: 500px) {
    
    .logo {
        width: 100%;
    }

    .hero--banner h1 {
        font-size: 1.4rem;
        font-weight: 800;
        letter-spacing: 0;
    }

    .hero--banner p {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }

    .hero--link a {
        padding: 0.33rem;
        letter-spacing: 0.1rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .text--cards p:nth-child(2), .text--cards p:nth-child(4),  .text--cards p:nth-child(1), .text--cards p:nth-child(3) { 
        width: 95%;
    }

    
}



/* ----------- Responsive Designe (400px) ----------- */


@media screen and (max-width: 400px) {

    .text--cards p:nth-child(2), .text--cards p:nth-child(4),  .text--cards p:nth-child(1), .text--cards p:nth-child(3) { 
        width: 100%;
    }
} 




/* Animations */




/* Demo Animations */

@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
  }


@keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
